.video-banner-wrapper{
      position: relative;
    clear: both;
    float: left;
    width: 100%;
    height: 565px;
    text-align: center;
    overflow: hidden;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='new_images/overview/overview-banner.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='new_images/overview/overview-banner.jpg', sizingMethod='scale')";
}
video {
    
    min-width: 100%; 
     min-height: 100%; 
    width: 100%;
    height: auto;
    z-index: -100;
    transition: 1s opacity;
}

.stopfade { 
   opacity: .5;
}

#polina {
   padding: 4rem;
    position: absolute;
    top: 0%;
    color: #fff;
    text-align: center;
   background-color: rgba(0, 0, 0, 0.61);
    width: 100%;
    /* margin-top: -136px; */
    left: 0px;
    right: 0px;
    height: 100%;
   
}
#polina .content-wrapper{
  position: absolute;
    top: 50%;
    margin-top: -90px;
    left: 0;
    right: 0px;
    padding: 0px 50px;
}

#polina h1 {
   font-size: 6.5rem;
    text-transform: capitalize;
    margin-top: 0;
    letter-spacing: 3px;
    position: relative;
    padding-bottom: 10px;
    font-weight: 400;
    text-shadow: 3px 3px rgba(0, 0, 0, 0.5882352941176471);
}
#polina h1::after {
    content: '';
    position: absolute;
    width: 37%;
    height: 2px;
    background: #fff400;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
#polina button { 
  display: block;
  width: 80%;
  padding: .4rem;
  border: none; 
  margin: 1rem auto; 
  font-size: 1.3rem;
  background: rgba(255,255,255,0.23);
  color: #fff;
  border-radius: 3px; 
  cursor: pointer;
  transition: .3s background;
}
#polina button:hover { 
   background: rgba(0,0,0,0.5);
}

#polina a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  background:rgba(0,0,0,0.5);
  padding: .5rem;
  transition: .6s background; 
}
#polina a:hover{
  background:rgba(0,0,0,0.9);
}
@media screen and (max-width: 500px) { 
  div{width:70%;} 
}
@media screen and (max-device-width: 800px) {
  #bgvid { display: none; }
}